[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
numpy = "*"
opencv-python = "*"
tensorflow = "*"
robogym = {git = "https://github.com/ivan-alles/robogym.git",ref = "v1.0.2"}
pydot = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
